body {
    background-color:#E6E6E6;
	margin:200px 0 0 100px;
}
div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:40px;
}
#PUbanner {
	height:60px;
	width:auto;
}
ul {
    margin-left:auto;
    margin-bottom:auto;
    width:100%;
}
.panes {
	margin-left:auto;
    margin-bottom:auto;
	margin-top: 10px;
    width:100%;
}
table {
	border: 2px solid black;
	border-radius: 5px;
}
td {
    border: 1px solid black;
	padding:3px;
}
.first {
    background-color:#BFB495;
}
.second {
    background-color:#D7C48F;
}
.links {
    height: 25px;
    width: 80px;
    border: 2px solid black;
    border-radius: 5px;
    display:inline-block;
    text-align: center;
    background-color:#BFB495;
}
.links a { text-decoration:none;    
}
.tabs li:hover { 
	background-color: tan;
}
a:visited{
    color:black;
}
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}
