body {
	background-image:url("http://news.uns.purdue.edu/images/+2008/gateway-arch.jpg");
	margin: 320px 0 0 660px;
}

div#fixedheader {
	position:fixed;
	top:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:30px;
}
#PUbanner {
	height:60px;
	width:auto;
}
#PUpete {
	height:60px;
	width:auto;
}
ul {
    margin-left:auto;
    margin-bottom:auto;
    width:100%;
}
.panes {
	margin-left:auto;
    margin-bottom:auto;
	margin-top: 5px;
    width:100%;
}
table {
	border: 5px solid black;
	border-radius: 10px;
	background-color:white;
	font-family:franklin gothic medium;
	box-shadow: 10px 10px 5px #BFB495;
}
td {
    border: 1px solid black;
	padding:3px;
}
.first {
    background-color:#BFB495;
}
.second {
    background-color:#D7C48F;
}
.links {
    padding:5px;
    border: 5px solid black;
    border-radius: 5px;
    display:inline-block;
    text-align: center;
    background-color:#BFB495;
	font-family:franklin gothic medium;
	text-shadow: 2px 2px 2px grey;
	box-shadow: 4px 4px 2px #BFB495;
}
.links a { text-decoration:none;
}
.links a:link{
	color:black;
}
.tabs li:hover { 
	background-color: tan;
}
div#fixedfooter {
	position:fixed;
	bottom:0px;
	left:0px;
	width:100%;
	color:#CCC;
	background:#333;
	padding:8px;
}
