body{
	background-color:#F1ECD6;
	}
#tableapps{
	width:750px;
	margin-top: 180px;
	margin-left: auto;
	margin-right: auto;
	}
#collegeapps{
	text-align:center;
	padding: 3px;
	}
td{
	border: 2px solid black;
	padding: 2px 10px 2px 10px;
	background:white;
	text-align:right;
}
th{
	border: 2px solid black;
	background:#778899;
	padding: 2px 10px 2px 10px;
	text-align:right;
}
p{
width:740px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0px;
	font-size:75%;
}
